{% load static %}
<script src="{% static 'js/widgets.bundle.js' %}"></script>
<script src="{% static 'js/custom/widgets.js' %}"></script>
<script src="{% static 'js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/upgrade-plan.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-app.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/new-target.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/users-search.js' %}"></script>